.home
{
    display: flex;
    justify-content: flex-start;
}
.photo
{
    margin: 60px;
    width: 600px;
    height: 200px;
    background-color: rgb(95, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}
#paragraph
{
    color: rgb(211, 208, 208);

}
h1
{
    font-size: 4vw;
}
.text
{
    width: 50%;
    flex-wrap: wrap;   

}
.text>div>p
{
    color: rgb(39, 39, 39);
}
